:root {
    --theme-primary-color: #d7ef7e;
    --theme-primary-background: #242424;
    --theme-primary-text: #c5c5c5;
    --theme-primary-border: #d7ef7e;
    --theme-secondary-color: #6fafdb;
    --theme-secondary-background: #333333;
    --theme-secondary-text: #8f8f8f;
    --theme-secondary-border: #404040;
    --theme-error: #ff7676;
}

html {
    overflow: hidden;
}

#main {
    height: calc(100% - 35px);
    display: flex;
    flex-direction: row;
    background: var(--theme-primary-background);
    /* padding-top: 120px; */
    /* overflow: hidden; */
    width: 100%;
    max-width: calc(100% - 300px);
}

#main section {
    width: calc(100% - 300px);
}

#main>.core>.content {
    background: var(--theme-primary-background);
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 0 40px 0 var(--theme-primary-text);
}

#map {
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 580px !important;
    width: 100%;
    background-color: var(--geoflo-secondary-background);
}

.top-nav {
    background: var(--theme-secondary-background);
    padding: 8px 24px;
    box-shadow: 0 0 40px 0 var(--theme-primary-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

.navbar-item, .navbar-link {
    color: var(--theme-primary-color);
    display: block;
    line-height: 1.5;
    padding: .5rem .75rem;
    position: relative;
}

.top-nav .menu .navigation .link {
    border: none;
    display: inline-block;
    padding: 4px 8px;
    color: var(--theme-primary-text);
    margin-right: 2px;
    line-height: 48px;
    height: 48px;
    vertical-align: middle;
    height: 46px;
}

.top-nav .menu .navigation .link:hover:not(.no-hover) {
    border-bottom: 2px solid var(--theme-primary-color);
}

.sidebar h3 {
    margin: 1.6rem 0 .4rem;
    color: var(--theme-primary-text);
    font-size: 12px;
    text-transform: uppercase;
}

.sidebar a {
    color: var(--theme-secondary-color);
    overflow-wrap: break-word;
    font-size: 16px;
}

.sidebar a:hover, .sidebar a.active {
    color: var(--theme-primary-color);
}

.side-nav a {
    color: var(--theme-primary-text);
    overflow-wrap: break-word;
}

.side-nav h3 {
    margin: 1.6rem 0 .4rem;
    color: var(--theme-primary-text);
    font-size: 12px;
    text-transform: uppercase;
}

.side-nav a.is-past {
    opacity: .7;
    color: var(--theme-secondary-text)
}

.side-nav a:hover, .side-nav a.is-active {
    opacity: 1;
    color: var(--theme-primary-color);
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    color: var(--theme-primary-text);
    font-weight: 600;
    line-height: 1.125;
}

.member>.name {
    color: #fff;
    font-size: 20px;
    line-height: 26px;
    position: relative;
    margin-bottom: 8px;
}

.member>.name .href-link {
    color: var(--theme-secondary-color);
}

body {
    color: var(--theme-primary-text);
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
}

.tag:not(body) {
    background-color: var(--theme-primary-color);
}

a {
    color: var(--theme-error);
    cursor: pointer;
    text-decoration: none;
}

dl a {
    color: var(--theme-primary-text);
    cursor: pointer;
    text-decoration: none;
}

.kwd {
    color: var(--theme-secondary-color);
}

a:hover {
    color: var(--theme-secondary-color);
}

strong {
    color: var(--theme-secondary-color);
    font-weight: 700;
}

.tag-source {
    display: none;
}

.prettyprint {
    border-radius: 2px;
    background-color: var(--theme-secondary-background);
}

.table {
    background-color: var(--theme-secondary-background);
    color: var(--theme-primary-text);
}

table.params, table.props {
    border: 1px solid var(--theme-secondary-color);
    line-height: 26px;
}

.content table thead td, .content table thead th {
    border-width: 0 0 2px;
    color: var(--theme-error);
}

.content table td, .content table th {
    border: 1px solid var(--theme-primary-background);
    border-width: 0 0 1px;
    padding: .5em .75em;
    vertical-align: top;
}

table.params td.name code, table.props td.name code {
    background: transparent;
    padding: 0;
    font-size: 15px;
    color: var(--theme-primary-color);
}

table.params tr.deep-level-1, table.props tr.deep-level-1 {
    background: var(--theme-primary-background);
}

@media screen and (min-width: 769px), print {
    .column.is-7, .column.is-7-tablet {
        flex: none;
        width: 75%;
    }
}

.vertical-section h1 {
    color: var(--theme-secondary-text);
}

h3.subsection-title {
    color: var(--theme-secondary-color);
}

body {
    font-size: 12px;
    font-family: Helvetica Neue, Helvetica, Arial, Malgun gothic, '돋움', AppleSDGothicNeo;
}
ul, ol, li {list-style:none; padding-left:0; margin-left:0;}

/* Navigation - LNB */
.lnb {
    width: 290px;
    position: absolute;
    bottom: 30px;
    top: 0;
    overflow: auto;
    left: 0;
    background-color: var(--theme-secondary-background);
    padding: 0 20px;
}
.lnb .logo {
    width: 220px;
    height: 40px;
    margin: 20px auto 0;
}
.lnb .title {
    text-align: center;
    padding: 0 0 15px;
}
.lnb .title .link {
    color: #fff;
    font-style: italic;
    font-size: 30px;
}
.lnb h3 {
    font-size: 1.5em;
    color: var(--theme-primary-color);
}
.lnb h3 a {
    color: #fa3282;
}
.lnb h3 a:hover {
    color: #9a3282;
}
.lnb .lnb-api li,
.lnb .lnb-examples li {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #1f292e;
}
.lnb .lnb-api h3 a {
    color: #fa3282;
}
.lnb .lnb-api h3 a:hover {
    color: #fa3282;
    text-decoration: underline;
}
.lnb .lnb-api a,
.lnb .lnb-examples a {
    color: var(--theme-primary-text);
    font-size: 14px;
}
.lnb .lnb-api a:hover,
.lnb .lnb-examples a:hover {
    color: #a3cfdf;
}
.lnb .lnb-api .toggle-subnav {
    padding: 0 3px;
    margin-bottom: 0;
}
.lnb .lnb-api .toggle-subnav:focus {
    outline: 0;
}
.lnb .lnb-api .toggle-subnav {
    font-size: 10px;
}
.lnb .member-type {
    margin-top: 5px;
    margin-left: 5px;
    color: var(--theme-primary-color);
    font-weight: normal;
    font-size: 12px;
    cursor: text;
}
.lnb .inner li {
    margin-left: 15px;
    border-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: #bbb;
}
.lnb .inner a {
    color: #bbb;
}
.lnb .inner a:hover {
    color: var(--theme-primary-color)
}

.lnb .version {
    color: #aaa;
    font-size: 1.2em;
}

/* LNB-TAB */
.lnb-tab {
    text-align: center;
    text-decoration: none;
}
.lnb-tab li {
    display: inline-block;
    padding-top: 15px;
}
.lnb-tab li a {
    color: #aaa;
    font-size: 0.9em;
}
.lnb-tab li.selected a {
    color: #fff;
    font-size: 1em;
}
.lnb-tab li+li a h4:before {
    content: "\007C";
    display: inline-block;
    color: #999;
    padding: 0 10px;
}

/* MAIN-CONTENT */
.main {
    padding: 20px;
    left: 297px;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    overflow: auto;
    margin-bottom: 35px;
    background-color: var(--theme-primary-background);
}
.main article ol,
.main article ul {
    margin-left: 15px;
}
.main section header {
    padding-top: 0;
    border-bottom: 1px solid #999;
}
.main section header h2 {
    font-size:18px;
    font-weight:bold;
    padding-left : 5px;
    border-left: 5px solid var(--theme-primary-text);
    color: var(--theme-primary-color);
}
.main section article {
    padding: 10px;
    height: calc(100% - 90px);
}
.main section article iframe {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 15px;
}
.main section article .container-overview {
    padding: 12px 12px 0 12px;
    border: none;
    border-radius: 7px;
    color: var(--theme-primary-text);
    font-size: 14px;
}
.main section article h3.subsection-title {
    font-size:18px;
    color: var(--theme-primary-color);
    padding: 25px 0 0 5px;
    border-bottom: 1px solid var(--theme-primary-border);
}
.main section article dl h4 {
    font-size: 12px;
    font-weight: bold;
}
.main section article dl h4 .signature {
    color: var(--theme-secondary-text);
    font-size: 14pt;
    margin-left: 3px;
}
.main section article dl h4 .type-signature {
    font-size: 9pt;
    color: var(--theme-primary-color);
    font-weight: normal;
    opacity: 0.7;
}
.main section article dl dt .name {
    padding: 3px 10px;
    background-color: var(--theme-secondary-background);
    color: var(--theme-primary-text);
    font-size: 20pt;
}
.main section article dl dd {
    padding: 0 30px;
}
.main section article dl dd h5{
    font-family: inherit;
    font-size: 100%;
    font-weight: bold;
    color: var(--theme-error);
}
.main section article .container-source {
    margin: -15px -15px 3px 0;
    font-weight: normal;
    font-size: 8pt;
    text-align: right;
    padding-right: 10px;
    display: none;
}
.main section article .container-returns {
    color: var(--theme-primary-text);
    margin-bottom: 7px;
    margin-top: 18px;
}
.main section article .container-returns span,
.main section article .container-params table {
    border-left: 3px solid #eee;
    margin-left: 7px;
    padding-left: 3px;
    margin-bottom: 5px;
}
.main section article .container-returns p {
    display: inline;
}
.main section article .container-properties h5,
.main section article .container-returns h5,
.main section article .container-params h5,
.main section article table th,
.main section article table td.type,
.main section article table td.attributes {
    font-family: inherit;
    font-size: 100%;
}
.main section article table,
.main section article table th,
.main section article table td {
    font-family: inherit;
    font-weight: normal;
    vertical-align: top;
    border: 0;
    padding: 5px 8px;
}
.main section article table td.name,
.main section article table td.type,
.main section article table td.attributes,
.main section article table td.default {
    max-width: 200px;
    min-width: 80px;
    word-break: break-all;
}
.main section article table td.type,
.main section article table td.attributes {
    color: #aaa;
}
.main section article table td p {
    padding: 0;
    margin: 0;
}
.main section article table td h6 {
    padding: 3px;
    margin: 3px 0 3px 3px;
    font-size: 100%;
    font-weight: bold;
    color: var(--theme-secondary-text);
}
.main section article .container-properties table.props {
    margin-top: -3px;
}
.main .main-content article {
    padding:0;
}
.main .container-overview,
.main .main-datail {
    overflow: hidden;
}
.main .main-detail .tag-source {
    float:left;
    display:none;
}
.main .main-detail .tag-author {
    float:left;
}
.main .main-detail .tag-author a {
    color:#181818;
    font-size:11px;
    text-decoration:none;
}
.linenums li.selected {
    background: #faebd7;
}
.iinenums .number {
    color: #777;
    display: inline-block;
    width: 40px;
}

/* FOOTER */
footer {
    padding-top: 3px;
    line-height: 35px;
    height: 35px;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: var(--theme-secondary-color);
    color: var(--theme-secondary-text);
    text-align: center;
}

footer img {
    display: flex;
}

/* README*/
.readme {
    font-size: 14px;
}
.readme p,
.readme ul,
.readme ol {
    color: var(--theme-secondary-color);
    padding: 3px 0 3px 5px;
}
.readme p {
    color: var(--theme-primary-text);
    padding: 3px 0 3px 5px;
}
.readme ol {
    color: var(--theme-primary-text);
    padding: 3px 0 3px 5px;
}
.readme ul li {
    list-style: initial;
    margin-left: 20px;
}
.readme img {
    max-width: 100%;
}
.readme h1 {
    font-size:24px;
    font-weight:normal;
    padding: 10px 0 5px 0;
    border-bottom: 1px solid var(--theme-primary-color);
    color: var(--theme-primary-color)
}
.readme pre {
    margin: 15px 3px;
}
.readme li p {
    padding: 10px 0;
    color: var(--theme-primary-color);
}
.readme p a {
    color:#c7254e;
}
.readme h2 {
    padding-bottom: 3px;
    border-bottom: 1px solid var(--theme-primary-text);
    font-size: 22px;
    color: var(--theme-primary-text);
}
.readme h3 {
    font-size: 20px;
    padding-bottom: 3px;
    color: var(--theme-primary-text);
}

.readme h4 {
    font-size: 18px;
}
.readme h5 {
    font-size: 16px;
}
.readme h6 {
    font-size: 15px;
}
.readme table {
    margin: 5px 30px 20px;
}
.readme table th,
.readme table td {
    padding: 2px 20px 2px 5px;
    border-bottom: 1px solid #dedede;
}
.readme section header h2 {
    font-size:20px;
    padding-left:10px;
    border-left:5px solid #fa3282;
}
.readme section .container-overview {
    color:#333;
    border-radius: 2px;
    border:1px solid #dedede;
    padding:15px 15px 10px;
}
.readme section .container-overview .description {
    color:#666;
}
.readme section .container-overview dt {float:left; }
.readme section .container-overview dd {float:left; margin-left:10px; }
.readme blockquote {
    padding: inherit;
    margin: inherit;
    font-size: inherit;
    color: #777;
}

/* Search box */
.search-container {
    position: relative;
    padding-bottom: 10px;
}
.search-container input {
    padding: 7px;
    width: 100%;
    color: var(--theme-primary-text);
    border: 1px solid var(--theme-secondary-text);
    background-color: var(--theme-primary-background);
    border-radius: 2px;
}
.search-container a {
    color: #fff;
}
.search-container strong {
    color: var(--theme-primary-color);
    font-weight: normal;
}
.search-container ul {
    font-size: 13px;
    position: absolute;
    width: 100%;
    background-color: var(--theme-primary-background);
    border: 1px solid var(--theme-primary-background);
    border-radius: 0 0 2px 2px;
    z-index: 9999;
    border-radius: 2px;
    opacity: 1;
}
.search-container ul li {
    text-align: left;
    width: 100%;
    padding: 4px 0 4px 7px;
    overflow: hidden;
    border: 0;
    cursor: pointer;
}
.search-container ul li:hover,
.search-container ul li.highlight{
    background-color: #fff;
}
.search-container ul li:hover a,
.search-container ul li.highlight a {
    color: var(--theme-secondary-text);
    text-decoration: underline;
}
.search-container ul li:hover strong,
.search-container ul li.highlight strong {
    color: var(--theme-secondary-color);
}
.search-container ul li .group {
    font-size: 11px;
    color: #ccc;
    margin-left: 10px;
}
.search-container ul li:hover .group,
.search-container ul li.highlight .group {
    color: #777;
}

/* ETC */
.logo {
    width: 220px;
    height: 40px;
    vertical-align: middle;
}
footer .logo {
    display: none;
    vertical-align: middle;
    align-items: center;
    align-self: center;
    width: 150px;
    height: 30px;
}
.hidden {
    display: none;
}
.footer-text {
    padding-left: 3px;
    display: none;
}
#example-nav {
    margin-top: 15px;
}
#resizer {
    width: 7px;
    position: fixed;
    left: 290px;
    height: 100%;
    background-color: var(--theme-primary-color);
    cursor: col-resize;
}
span.param-type {
    color: var(--theme-primary-text);
}
pre.prettyprint {
    font-size: 0.9em;
    border-radius: 0;
}
span.icon {
    font-size: 8pt;
    border-radius: 3px;
    padding: 1px 2px;
}
span.icon.green {
    color: var(--theme-error);
    background-color: var(--theme-primary-background);
    border-color: var(--theme-primary-border);
}
span.icon.blue {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
span.icon.yellow {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
span.icon.red {
    color: #A94443;
    background-color: #f2dede;
    border-color: #ebccd1;
}
span.arrow {
    font-size: 8pt;
    padding-right: 5px;
}




/* CUSTOM */

.description {
    color: var(--theme-secondary-text);
    font-weight: bold;
    font-size: 14px;
}

.container-params {
    color: var(--theme-secondary-color)
}

.main section article dl dd .container-params h5 {
    color: var(--theme-secondary-color)
}

.param-desc {
    color: var(--theme-secondary-text);
}

dt dl {
    display: inline-flex;
}

dt dl dt {
    color: var(--theme-secondary-text)
}

.btn-link {
    font-weight: 400;
    color: var(--theme-secondary-color);
    border-radius: 0;
}

.btn-link:focus, .btn-link:hover {
    color: var(--theme-primary-color);
    text-decoration: underline;
    background-color: transparent;
}

.name code {
    background-color: var(--theme-primary-text);
}

.members code {
    background-color: var(--theme-primary-background);
    color: var(--theme-primary-color);
}

.members code a {
    color: var(--theme-primary-color);
}

th {
    color: var(--theme-secondary-color);
}

.main section article .container-returns h5 {
    color: var(--theme-error);
}

.name a {
    color: var(--theme-secondary-color);
}

.ancestors a {
    color: var(--theme-primary-color);
}

.ancestors a:hover {
    color: var(--theme-secondary-color);
}

dt.tag-deprecated {
    display: inline-flex;
    color: var(--theme-error);
}

dd.yes-def {
    padding: 0;
    display: inline-flex;
    color: var(--theme-error);
}

dd.yes-def ul {
    margin: 0
}

.top-nav .logo {
    display: flex;
    width: 400px;
    height: 40px;
    vertical-align: middle;
}

/* Track */
::-webkit-scrollbar-track {
	background-color: var(--theme-secondary-background);
}

/* Handle */
::-webkit-scrollbar-thumb {
	padding: 0 2px;
	cursor: default;
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: var(--theme-secondary-background);
	background-color: var(--theme-secondary-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background-color: var(--theme-primary-color);
	color: var(--theme-secondary-background);
	border-color: var(--theme-primary-background);
}

::-webkit-scrollbar-thumb:active {
	background-color: var(--theme-primary-background);
	color: var(--theme-secondary-color);
	border-color: var(--theme-secondary-color);
}

::-webkit-scrollbar-button:single-button {
	background-color: var(--theme-secondary-color);
	color: var(--theme-primary-background);
	border: 1px solid var(--theme-primary-color);
}

.footer {
    display: none;
    padding-top: 3px;
    line-height: 35px;
    height: 45px;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: var(--theme-secondary-text);
    color: var(--theme-secondary-text);
    text-align: center;
}

.image img {
    height: 45px;
}

@media screen and (max-width: 768px) {
    .top-nav .logo {
        display: none;
    }
}

.navbar-burger {
    color: var(--theme-primary-color);
}

.dropdown-content {
    background-color: var(--theme-primary-text);
    border-radius: 4px;
    box-shadow: 0 .5em 1em -0.125em rgba(10, 10, 10, .1), 0 0px 0 1px rgba(10, 10, 10, .02);
    padding-bottom: .5rem;
    padding-top: .5rem;
}

.dropdown-item {
    color: var(--theme-primary-background);
}

#main>.sidebar {
    padding: 40px 30px;
    flex-grow: 0;
    flex-shrink: 0;
    width: 240px;
    border-right: 1px solid var(--theme-primary-color);
    height: 100%;
    overflow: auto;
	background-color: var(--theme-primary-background)
}

.container-overview .description {
	color: var(--theme-primary-color);
	font-size: 18px;
}

/* .container-overview .tag-source {
	display: block;
} */

.button {
    transition: all .2s;
    border-radius: 4px;
    padding: 8px 24px;
    height: 40px;
    border-color: var(--theme-primary-text);
    color: var(--theme-primary-color);
    background-color: var(--theme-secondary-background);
}

.button:hover {
	border-color: var(--theme-primary-color);
    color: var(--theme-primary-text);
    background-color: var(--theme-secondary-background);
}

.tag-source span {
	color: var(--theme-primary-text);
}

.tag-source span a {
	color: var(--theme-primary-text);
	font-size: 16px;
}

.tag-source span a:hover {
	color: var(--theme-primary-color);
}

.str {
    color: var(--theme-primary-text);
}

.pun {
    color: var(--theme-error);
}

.pln {
    color: var(--theme-secondary-text);
}

.lit {
    color: var(--theme-primary-color);
}

.atv {
    color: var(--theme-secondary-color);
}

.atn {
    color: var(--theme-primary-text);
}

.tag {
    color: var(--theme-primary-background);
}